<div class="stages">
  <div class="title">
    <h1>Stages of UX proccess</h1>
  </div>
  <div class="circle">
    <div class="arrows">
      <img
        class="arrows-img"
        src="assets/images/arrows.png"
        width="100%"
        alt=""
      />
    </div>
  </div>
</div>

<div class="exp">
  <p>
    There are 5 main stages of every UX proccess. <br />
    On this page we are going to see some detail about them, they are:<br /><br />
    Empathize<br />
    Define<br />
    Ideate<br />
    Prototype<br />
    Testing<br /><br />
  </p>
  <h2>
    Often this cycle is repeated, with each iteration bringing the product
    closer to perfection. Moreover, the stages are always one after another.
    Testing should be done intermittently with design to incorporate the results
    in later designs. And as for research, ideally you’ll want to know as much
    as you can before you start, so it should be the first step... but that
    said, it’s never a bad time to learn more about your users.
  </h2>
</div>

<div class="research">
  <h1 class="text">Research</h1>
  <img src="assets/images/research.png" width="100%" alt="" srcset="" />
</div>

<div class="exp">
  <p>
    Stage 1: Empathize—Research Your Users' Needs Here, you should gain an
    empathetic understanding of the problem you’re trying to solve, typically
    through user research. <br /><br />
    Empathy is crucial to a human-centered design process such as design
    thinking because it allows you to set aside your own assumptions about the
    world and gain real insight into users and their needs.<br /><br />
    2. Stage 2: Define—State Your Users' Needs and Problems It’s time to
    accumulate the information gathered during the Empathize stage.<br /><br />
    You then analyze your observations and synthesize them to define the core
    problems you and your team have identified. These definitions are called
    problem statements.<br /><br />
    You can create personas to help keep your efforts human-centered before
    proceeding to ideation.
  </p>
</div>

<div class="research">
  <h1 class="text">Design</h1>
  <img src="assets/images/design.jpg" width="100%" alt="" srcset="" />
</div>

<div class="exp">
  <p>
    Stage 3: Ideate—Challenge Assumptions and Create Ideas Now, you’re ready to
    generate ideas.<br />
    The solid background of knowledge from the first two phases means you can
    start to “think outside the box” <br /><br />look for alternative ways to
    view the problem and identify innovative solutions to the problem statement
    you’ve created.<br /><br />
    Brainstorming is particularly useful here..<br /><br />
    Stage 4: Prototype—Start to Create Solutions This is an experimental phase.
    The aim is to identify the best possible solution for each problem found<br /><br />
    Your team should produce some inexpensive, scaled-down versions of the
    product (or specific features found within the product) to investigate the
    ideas you’ve generated. <br /><br />This could involve simply paper
    prototyping
  </p>
</div>

<div class="research">
  <h1 class="text">Testing</h1>
  <img src="assets/images/testing.jpg" width="100%" alt="" srcset="" />
</div>

<div class="exp">
  <p>
    Stage 5: Test—Try Your Solutions Out <br />Evaluators rigorously test the
    prototypes. Although this is the final phase, design thinking is
    iterative<br /><br />
    Teams often use the results to redefine one or more further problems.<br /><br />
    So, you can return to previous stages to make further iterations,
    alterations and refinements – to find or rule out alternative solutions.
  </p>
</div>
