<div class="brain">
  <h1 style="font-size: 48px">LEARN THE DIFFERENCE</h1>

  <div class="complex">
    <div class="ls">
      <h1>UX</h1>
      <h3>
        Tehnical skills <br />
        like logic
      </h3>
    </div>
    <img src="assets/images/uxuibrain.png" width="100%" alt="" />
    <div class="ls">
      <h1 style="color: #48337B">UI</h1>
      <h3 style="color: #48337B">
        Visual taste <br />
        aesmetic
      </h3>
    </div>
  </div>
  </div>

<div class="user-interface">
  <div class="left">
    <img src="assets/images/right-side.png" width="100%" alt="" srcset="" />
  </div>
  <div class="right">
    <h1>User Interface</h1>
    <h3>Visual taste aesmetic</h3>
  </div>
</div>

<div class="text">
  <p>
    User interface design is focused on the look and layout — how each element
    of the product will look, including buttons, placeholders, text, images,
    checkboxes, and any visual interface elements people interact with.<br /><br />
    UX design determines how the interface works and how people interact with
    it, and UI design creates an interface’s look and feel. UX is more concerned
    with conceptual aspects, and UI focuses on a product’s aesthetic aspects —
    color palettes, button styles, animation, graphics, typography, diagrams,
    widgets, and many other elements to make the websites, applications,
    plugins, themes, etc. look neat and clean while still being intuitively
    functional to the user.<br /><br />
    UX designers conduct market research and analysis to educate themselves
    about customer’s needs and desires before designing the functionality of a
    product. UI designers keep themselves updated on graphic patterns and design
    trends that evolve as customers’ tastes and behavior changes.
  </p>
  <br />
  <h2>
    UX and UI are both critical components that can make or break a product.
    They work closely together to decide how a product looks and functions.
  </h2>
</div>

<div class="user-interface-right">
  <div class="desno">
    <h1>User Experience</h1>
    <h3>Tehnical skills like logic</h3>
  </div>
  <div class="levo">
    <img src="assets/images/left-side.png" width="100%" alt="" srcset="" />
  </div>
</div>

<div class="text">
  <p>
    User experience is the overall experience a user has with a company’s
    products or services. Good and bad user experience design is determined by
    how easy or difficult it is to interact with each element or aspect of a
    product or service.
  </p>
  <br />
  <h2 style="font-weight: 500;">
    “User experience is determined by how easy or difficult it is to interact
    with the user interface elements that the UI designer have created”.
  </h2>
  <p>
    Is the user flow smooth, seamless, and intuitive, or is it confusing and
    unwieldy? Does the button color and position encourage people to click, or
    make them hesitate? Does adding more detailed steps to the onboarding
    process add clarity? Does improving the content of a page increase
    conversion? UX design is responsible for answering questions like these. But
    how?<br><br> UX design mainly involves research to understand things like customer
    pain points, potential market gaps, and competitor analysis. Besides
    focusing on a deep understanding of users and unmet market needs, UX also
    takes into account the business goals and objectives to build products that
    align with the company’s visions and missions. UX best practices improve
    user interactions and perceptions of products and services as desired by the
    company.
  </p>
</div>
