<mat-toolbar class="mat-elevation-z8">
  
  <p class="logo">UXTEAM</p>
  <div class="spacer"></div>

  <div class="nav">
    <a (click)="hideBar()" routerLink="/" mat-button>Home</a>
    <a (click)="hideBar()" routerLink="stages" mat-button>Stages</a>
    <a (click)="hideBar()" routerLink="strategy" mat-button>Strategy</a>
    <a (click)="hideBar()" routerLink="uxui" mat-button>UXUI</a>
    <a (click)="hideBar()" routerLink="contact" mat-button>Contact</a>
  </div>
 

  <div (click)="showBar()" id="nav-icon3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</mat-toolbar>
