<div class="contact">
  <div class="container">
    <h1>CONTACT US</h1>
    <div class="inputs">
      <input type="text" placeholder="Your name" />
      <label class="labela" for="name">Assistive text</label>

      <input type="text" placeholder="Your email" />
      <label class="labela" for="fname">Assistive text</label>

      <input type="text" placeholder="Your message" />
      <label class="labela" for="fname">Assistive text</label>
    </div>
    <button type="submit">Submit</button>
  </div>
</div>
