<div class="hero">
  <div class="elipse">
    <img src="assets/images/elipse.png" alt="" srcset="" width="100%" />
  </div>
  <div class="elipse1">
    <img src="assets/images/elipse1.png" alt="" srcset="" width="100%" />
  </div>
  <div class="elipse2">
    <img src="assets/images/elipse2.png" alt="" srcset="" width="100%" />
  </div>
  <div class="head">
    <h1 class="text">User Experience</h1>
    <h4 class="text1">It’s all about thinking and felling</h4>
  </div>
</div>

<div class="spacer">
  <h1>Four strategies for simplicity</h1>
  <h2>
    Remove <br /><br />
    Organize <br /><br />
    Hide <br /><br />
    Displace <br /><br />
  </h2>
  <p>
    Each of the strategies has its strengths and weaknesses, which I’ll discuss
    in the following lines. A big part of success comes in choosing the right
    strategy for the problem at hand.
  </p>
</div>

<div class="remove">
  <div class="r">
    <h1>Remove</h1>
  </div>
  <div class="naslov">
    <h1>The most obvious way to simplify is... to remove what’s unnecessary</h1>
    <p>
      Conventional wisdom says that more features mean more capability which, in
      turn, means a more useful product. But these examples choose depth of
      capability rather than breadth. They’re useful because they do a few
      things far better than their rivals. <br /><br />

      Conventional wisdom also says that products with more features will beat
      products with fewer. But all of these examples have competed against more
      fully featured rivals and won.<br /><br />

      Removing clutter allowed designers to focus on solving a few important
      problems really well. It also allowed users to focus on meeting their
      goals without distraction.
    </p>
    
    <h2>How to remove?</h2>
    
    <p>
      Focus on what’s core<br />
      - Removing clutter helps users focus on what’s important<br /><br />

      Kill lame features<br />
      -We tenk to keep things, even when we know they’re broken<br /><br />

      Prioritizing features<br />
      - Prioritize feature that satisfy mainstreams’ needs with minimal
      effort<br /><br />
    </p>
  </div>
</div>

<div class="remove">
  <div class="r">
    <h1>Organize</h1>
  </div>
  <div class="naslov">
    <h1>Organizing is a great strategy for simplifying.</h1>
    <p>
      There are plenty of options open to you in organizing an interface— size,
      color, position, shape, hierarchy. But those choices need to be employed
      with restraint.<br /><br />

      If you want to organize for simplicity, it’s important to emphasize just
      one or two important things. Simple organization doesn’t draw attention to
      itself, it lets users focus on what they’re doing.
      <br />
    </p>

    <h2>How to organize?</h2>
    <p>
      Chunking<br />
      - Chunking is used throughout user interface design. The classic advice
      here is to break items down into groups of “seven plus or minus two.”<br />
    </p>

    <p>
      Hard edges<br />
      -When you need to organize a group of items that are equivalent (like
      books in an online store), choose clear categories with labels that make
      sense to your audience.
    </p>

    <p>
      Grids<br />
      -It’s remarkable how far a tidy layout can go in making a design feel
      simple. The form on the opposite page (top) is an interface for searching
      for train tickets that my company designed. It worked fine in user
      testing, but people hesitated over it. We revisited the layout and decided
      we could simplify it.
    </p>
  </div>
</div>

<div class="remove">
  <div class="r">
    <h1>Hide</h1>
  </div>
  <div class="naslov">
    <h1>Make sure your users will encounter a clue on their journey</h1>
    <p>
      There are plenty of options open to you in organizing an interface— size,
      color, position, shape, hierarchy. But those choices need to be employed
      with restraint.<br /><br />

      If you want to organize for simplicity, it’s important to emphasize just
      one or two important things. Simple organization doesn’t draw attention to
      itself, it lets users focus on what they’re doing.
      <br />
    </p>
    
    <h2>How to hide?</h2>
    
    <p>
      Hide one-time settings and options.<br /><br />
      Hide precision controls, but let expert users choose to keep them
      revealed.<br /><br />
      Don’t force or expect mainstreamers to customize, but offer this option
      for experts.<br /><br />
      Hide elegantly; that is, hide completely and reveal just in time.<br /><br />
    </p>
  </div>
</div>

<div class="remove">
  <div class="r">
    <h1>Displace</h1>
  </div>
  <div class="naslov">
    <h1>The fourth strategy is to cheat?!</h1>
    <p>
      Designers who take this approach strip the site down to a few basic
      actions. <br /><br />

      Also, though you’ve simplified the site, you still have the problem of
      designing a simple on-screen menu system (using the strategies of remove,
      organize, and hide).<br /><br />

      But if you understand the trade-offs, displacing the right roles to the
      right devices works well. One of the secrets of creating simple
      experiences is putting the right functionality on the right platform or
      part of the system.
    </p>
    
    <h2>How to displace?</h2>
    
    <p>
      You can reduce complexity in software by designing features that can be
      used for several purposes. The task of choosing how to use them is
      displaced to users.<br /><br />

      The ultimate in simple interfaces are ones that make sense to experts and
      mainstreamers alike.<br /><br />

      You need a sense of certainty to be able to displace tasks effectively.<br /><br />
      If you’re going to displace tasks to be the responsibility of the user,
      you have to trust that the user will take on those tasks.
      <br /><br />
    </p>
  </div>
</div>

<div class="asd">
    <div class="simply">
        <h1>Simplicity happens in the user’s head!</h1>
    </div>
</div>
