:host {
  .hero {
    width: 100%;
    background-color: #48337b;
    position: relative;
    display: flex;
    overflow: hidden;

    .elipse {
      position: relative;
      width: 30%;
      top: 20%;
      left: 20%;
    }
    .elipse1 {
      position: relative;
      width: 30%;
      left: -30%;
      top: 50px;
    }
    .elipse2 {
      position: absolute;
      width: 30%;
      left: 60%;
      top: 70%;
    }

    .head {
      .text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: nullpx;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }

      .text1 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
      }
    }
  }

  .ux {
    display: block;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 20px;
    margin: 0 auto;

    .left {
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }

      h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #333333;
      }

      .read {
        height: 48px;
        width: 220px;
        border-radius: 43px;
        background-color: #ff9800;

        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        border: none;
        cursor: pointer;
      }
    }

    .right {
      position: relative;
      margin-top: 50px;

      .circle1 {
        width: 150px;
        height: 150px;
        background-color: #48337b;
        border-radius: 50%;
        position: relative;

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #ffffff;
        }

        .circle2 {
          position: absolute;
          height: 65px;
          width: 65px;
          background-color: #ff9800;
          border-radius: 50%;
          display: inline-block;
          top: -20px;

          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 12px;
          }
        }
      }
    }
  }

  .brain {
    background-color: #48337b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .ls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        margin-bottom: -20px;
        font-size: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: 113px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }

      H3 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
      }
    }
    .brain-img {
      width: 70%;
      height: 30%;
      padding: 20px 20px;
    }
  }

  .principles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headline {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 50px 0;

      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 56px;
        color: #000000;
        margin-bottom: -5px;
      }
    }

    .square {
      display: grid;
      grid-gap: 20px;

      .s {
        position: relative;
        width: 220px;
        height: 160px;
        background: #48337b;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        img {
          position: absolute;
          width: 30%;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .tag {
          position: absolute;
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 56px;
          color: #ffffff;
        }
      }
      .s:hover {
        background: #ff9800;
        transition: 0.5s;
        transform: scale(1.1);
      }
    }
  }

  .stages {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .naslov {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 56px;
        color: #000000;
      }
    }
    .elipse3 {
      position: absolute;
      top: 80px;
      left: -10px;
      width: 25%;
    }

    .elipse4 {
      position: absolute;
      width: 25%;
      top: 70%;
      left: 75%;
    }

    .start {
      position: relative;

      .finish {
        display: block;
        margin: 0 auto;
        width: 55%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .hero {
      .head {
        .text {
          font-size: 50px;
          top: 50%;
        }
        .text1 {
          font-size: 20px;
        }
      }
    }

    .ux {
      .right {
        .circle1 {
          width: 300px;
          height: 300px;
          p {
            font-size: 40px;
          }
          .circle2 {
            width: 120px;
            height: 120px;
          }
        }
      }
    }

    .brain {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 40px 40px;

      .brain-img {
        width: 40%;
        margin: 0 -90px;
      }
    }

    .stages {
      .naslov {
        h1 {
          font-size: 50px;
        }
      }
      .elipse4 {
        top: 55%;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .hero {
      .elipse {
        width: 40%;
      }

      .elipse1 {
        top: 90px;
        width: 30%;
        left: -40%;
      }

      .elipse2 {
        width: 30%;
      }
      .head {
        .text {
          font-size: 60px;
          top: 50%;
        }

        .text1 {
          font-size: 22px;
          margin-top: -25px;
        }
      }
    }

    .ux {
      display: flex;
      flex-direction: row;
      padding: 100px 50px;
      .left {
        padding-left: 80px;
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;

        .circle1 {
          width: 350px;
          height: 350px;
          .circle2 {
            width: 150px;
            height: 150px;
          }
        }
      }
    }

    .brain {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 40px 40px;
      .brain-img {
        width: 40%;
        margin: 0 -90px;
      }
    }

    .principles {
      .square {
        display: flex;

        .s {
          width: 200px;
          height: 300px;
        }
      }
    }
    .stages {
      .elipse3 {
        top: -35px;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    .ux {
      .right {
        .circle1 {
          p {
            font-size: 25px;
          }
        }
      }
    }

    .brain {
      .ls {
        h1 {
          font-size: 80px;
          font-weight: 400;
        }
      }
    }

    .stages {
      .elipse4 {
        top: 33%;
      }
    }
  }

  @media screen and (min-width: 1920px) {
    .hero {
      width: 100%;
      height: 1000px;
      background-color: #48337b;
      position: relative;
      display: flex;
      overflow: hidden;

      .elipse {
        top: 0;
        width: 40%;
        position: absolute;
      }
      .elipse1 {
        width: 30%;
        left: 0%;
        top: 30%;
        position: absolute;
      }
      .elipse2 {
        position: absolute;
        width: 40%;
      }

      .head {
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: nullpx;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          font-size: 96px;
          font-style: normal;
          font-weight: 500;
          line-height: 112px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
        }

        .text1 {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: #ffffff;
          margin-top: 30px;
        }
      }
    }

    .ux {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 88px 240px;

      .left {
        padding-left: 0;
        width: 50%;

        p {
          font-family: Roboto;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
        }

        h2 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 56px;
          margin-top: 20px;
          margin-bottom: 20px;
          color: #333333;
        }

        .read {
          height: 48px;
          width: 220px;
          border-radius: 43px;
          background-color: #ff9800;

          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          border: none;
          cursor: pointer;
        }
      }

      .right {
        position: relative;

        .circle1 {
          width: 359px;
          height: 359px;
          background-color: #48337b;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          display: flex;

          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;
          }
          .circle2 {
            position: absolute;
            height: 160px;
            width: 160px;
            background-color: #ff9800;
            border-radius: 50%;
            top: -60px;

            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #ffffff;
              font-weight: 500;
              font-size: 24px;
              line-height: 28px;
            }
          }
        }
      }
    }

    .brain {
      background-color: #48337b;
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 70px 500px;

      .brain-img {
        margin: 0 40px;
      }

      .ls {
        h1 {
          font-size: 96px;
          font-style: normal;
          font-weight: 400;
          line-height: 113px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
        }

        H3 {
          margin-top: 25px;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
        }
      }
    }

    .principles {
      display: flex;
      flex-direction: column;

      .headline {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        h1 {
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 56px;
          color: #000000;
          margin-bottom: -5px;
        }
      }
      .square {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .s {
          position: relative;
          margin: 0 40px;
          width: 330px;
          height: 376px;
          background: #48337b;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 8px;

          img {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .tag {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;

            color: #ffffff;
          }
        }
      }
    }

    .stages {
      margin-top: 150px;
      position: relative;

      .naslov {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        h1 {
          font-style: normal;
          font-weight: 500;
          font-size: 96px;
          line-height: 56px;
          color: #000000;
        }
      }

      .elipse3 {
        width: 20%;
        position: absolute;
        top: -80px;
      }

      .elipse4 {
        position: absolute;
        top: 50%;
      }

      .start {
        position: relative;
        width: 100%;

        .finish {
          display: block;
          margin: 30px auto;
          width: 55%;
        }
      }
    }
  }
}
