<div class="hero">
  <div class="elipse">
    <img src="assets/images/elipse.png" alt="" srcset="" width="100%" />
  </div>
    <div class="elipse1">
      <img src="assets/images/elipse1.png" alt="" srcset="" width="100%" />
    </div>
    <div class="elipse2">
      <img src="assets/images/elipse2.png" alt="" srcset="" width="100%" />
    </div>
  
  <div class="head">
    <h1 class="text">User Experience</h1>
    <h4 class="text1">It’s all about thinking and felling</h4>
  </div>
</div>

<div class="ux">
  <div class="left">
    <p>
      Ambiton, Talent, Love <br />
      Call it whatever you want.
    </p>

    <h2>We call it User Experience</h2>
    <p>
      UX doesn’t mean one thing. One of the greatest pitfalls for newcomers is
      trying to understand UX as a field separate from other related fields
      (like web development, technical communication, etc.). <br /><br /><br />
      UX is an interdisciplinary field. UX is a way of looking at the world that
      involves making decisions beyond data with humans firmly in mind.<br /><br />
    </p>
    <button type="submit" class="read">Read more</button>
  </div>
  <div class="right">
    <div class="circle1">
      <p>UX</p>
      <div class="circle2">
        <p>UI</p>
      </div>
    </div>
  </div>
</div>

<div class="brain">
  <div class="ls">
    <h1>UX</h1>
    <h3>
      Tehnical skills <br />
      like logic
    </h3>
  </div>
  <img class="brain-img" src="assets/images/Vector.png" alt="" srcset="" />
  <div class="ls">
    <h1>UI</h1>
    <h3>
      Visual taste <br />
      aesmetic
    </h3>
  </div>
</div>

<div class="principles">
  <div class="headline">
    <h1>Four prinicples of UX</h1>
  </div>
  <div class="square">
    <div class="s">
      <img src="assets/images/exit.png" width="100%" alt="" srcset="" />
      <p class="tag">Remove</p>
    </div>
    <div class="s">
      <img src="assets/images/burger.png" width="100%" alt="" srcset="" />
      <p class="tag">Organize</p>
    </div>
    <div class="s">
      <img src="assets/images/eye.png" width="100%" alt="" srcset="" />
      <p class="tag">Hide</p>
    </div>
    <div class="s">
      <img src="assets/images/duplicate.png" width="100%" alt="" srcset="" />
      <p class="tag">Displace</p>
    </div>
  </div>
</div>

<div class="stages">
  <div class="naslov">
    <h1>Three stages of UX proccess</h1>
  </div>
  <div class="elipse3">
    <img src="assets/images/elipse4.png" alt="" srcset="" width="100%" />
  </div>
  <div class="elipse4">
    <img src="assets/images/elipse5.png" alt="" srcset="" width="100%" />
  </div>

  <div class="start">
    <img class="finish" src="assets/images/group.png" alt="" srcset="" />
  </div>
</div>
